@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #5A5872;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #2B2A3D;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5A5872;
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.suit {
  color: red;
}

.bullet {
  color: rgb(0, 149, 255);
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0 40px;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: #E84E4E;
}

.main-btn:hover {
  background-color: #ff6b6b;
  color: #fff;
}

/*===== All Section Title Style =====*/
.section_title .title {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .section_title .title {
    font-size: 26px;
  }
}

.section_title p {
  margin-top: 15px;
  font-size: 18px;
  color: #9e9db3;
}

.section_title.section_title_2 .title,
.section_title.section_title_2 p {
  color: #fff;
}


/*===== NAVBAR =====*/
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-out 0s;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 15px 0;
}

.navbar {
  padding: 20px 0;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 150px;
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 130px;
  }
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
}

.navbar-nav .nav-item a::before {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #222;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #222;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
    color: #2a04b2;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
    color: #2a04b2;
  }
}

.navbar-nav .nav-item a.active::before, .navbar-nav .nav-item a:hover::before {
  width: 100%;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #2a04b2;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.sticky .navbar-toggler .toggler-icon {
  background-color: #222;
}

.sticky .navbar-nav .nav-item a {
  color: #222;
}

.sticky .navbar-nav .nav-item a::before {
  background-color: #2a04b2;
}

.sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
  color: #2a04b2;
}

/*===== hero =====*/
.single_hero {
  height: 750px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 1400px) {
  .single_hero {
    height: 950px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_hero {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .single_hero {
    height: 650px;
  }
}

.single_hero::before {
  position: absolute;
  content: '';
  background-color: rgba(43, 42, 61, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero_content {
  padding-top: 50px;
}

.hero_content .hero_title {
  font-size: 60px;
  line-height: 85px;
  color: #fff;
  margin-top: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero_content .hero_title {
    font-size: 44px;
    line-height: 65px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero_content .hero_title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .hero_content .hero_title {
    font-size: 24px;
    line-height: 38px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero_content .hero_title {
    font-size: 40px;
    line-height: 60px;
  }
}

.hero_content .hero_title span {
  display: contents;
  color: #2a04b2;
}

.hero_content p {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .hero_content p {
    font-size: 16px;
  }
}

.hero_content .main-btn {
  margin-top: 45px;
}

/*===========================
  FEATURES css 
===========================*/
.single_features i {
  font-size: 60px;
  line-height: 60px;
  color: #2a04b2;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
  .single_features i {
    font-size: 40px;
    line-height: 45px;
  }
}

.single_features .features_title {
  color: #2a04b2;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
  .single_features .features_title {
    font-size: 24px;
  }
}

.single_features p {
  margin-top: 15px;
}

.single_features:hover i {
  color: #2a04b2;
}

/*===========================
  PORTFOLIO css 
===========================*/
.single_portfolio {
  position: relative;
  width: 25%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_portfolio {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .single_portfolio {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_portfolio {
    width: 50%;
  }
}

.single_portfolio img {
  width: 90%;
}

.single_portfolio::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 78, 78, 0.9);
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}

.single_portfolio .portfolio_content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.single_portfolio .portfolio_content .meta li {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}

.single_portfolio .portfolio_content .meta li a {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
}

.single_portfolio .portfolio_content .meta li a:hover {
  background-color: #fff;
  color: #2a04b2;
}

.single_portfolio .portfolio_content .meta li:first-child {
  transform: translateX(-100%);
}

.single_portfolio .portfolio_content .meta li:last-child {
  transform: translateX(100%);
}

.single_portfolio .portfolio_content .portfolio_title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 25px;
  transform: translateY(100%);
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_portfolio .portfolio_content .portfolio_title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .single_portfolio .portfolio_content .portfolio_title {
    font-size: 20px;
  }
}

.single_portfolio:hover::before {
  opacity: 1;
}

.single_portfolio:hover .portfolio_content .meta li {
  transform: translateX(0);
  transition-delay: 0.2s;
  opacity: 1;
}

.single_portfolio:hover .portfolio_content .portfolio_title {
  transform: translateX(0);
  transition-delay: 0.2s;
  opacity: 1;
} 

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio-rk .portfolio-rk-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio-rk .portfolio-rk-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio-rk .portfolio-rk-filters li:hover,
.portfolio-rk .portfolio-rk-filters li.filter-active {
  color: var(--accent-color);
}

.portfolio-rk .portfolio-rk-filters li:first-child {
  margin-left: 0;
}

.portfolio-rk .portfolio-rk-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio-rk .portfolio-rk-filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.portfolio-rk .portfolio-rk-content {
  position: relative;
  overflow: hidden;
}

.portfolio-rk .portfolio-rk-content img {
  transition: 0.3s;
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info .preview-link,
.portfolio-rk .portfolio-rk-content .portfolio-rk-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info .preview-link:hover,
.portfolio-rk .portfolio-rk-content .portfolio-rk-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio-rk .portfolio-rk-content .portfolio-rk-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.portfolio-rk .portfolio-rk-content:hover .portfolio-rk-info {
  opacity: 1;
}

.portfolio-rk .portfolio-rk-content:hover img {
  transform: scale(1.1);
}

.light-background-rk {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

section-rk,
.section-rk {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

.section-title-rk {
  padding-bottom: 60px;
  position: relative;
}

.section-title-rk h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title-rk h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.section-title-rk p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/
.portfolio-rk-details .portfolio-rk-details-slider img {
  width: 100%;
}

.portfolio-rk-details .portfolio-rk-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-rk-details .portfolio-rk-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
  opacity: 1;
}

.portfolio-rk-details .portfolio-rk-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.portfolio-rk-details .portfolio-rk-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.portfolio-rk-details .portfolio-rk-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.portfolio-rk-details .portfolio-rk-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-rk-details .portfolio-rk-info ul li+li {
  margin-top: 10px;
}

.portfolio-rk-details .portfolio-rk-description {
  padding-top: 30px;
}

.portfolio-rk-details .portfolio-rk-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-rk-details .portfolio-rk-description p {
  padding: 0;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}


/*===========================
  BLOG css 
===========================*/
.single_blog .blog_image img {
  width: 100%;
}

.single_blog .blog_content {
  margin-top: 25px;
}

.single_blog .blog_content .blog_title a {
  font-size: 24px;
  font-weight: 600;
  color: #2B2A3D;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
  .single_blog .blog_content .blog_title a {
    font-size: 20px;
  }
}

.single_blog .blog_content .blog_title a:hover {
  color: #2a04b2;
}

.single_blog .blog_content p {
  margin-top: 15px;
}

.single_blog .blog_content .more {
  font-size: 16px;
  font-weight: 500;
  color: #5A5872;
  margin-top: 15px;
  transition: all 0.3s ease-out 0s;
}

.single_blog .blog_content .more:hover {
  color: #2a04b2;
}

.single_blog.blog_2 .blog_content {
  margin-top: 0;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .single_blog.blog_2 .blog_content {
    padding-left: 0;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_blog.blog_2 .blog_content {
    padding-left: 20px;
    padding-top: 0;
  }
}

.single_blog.blog_2 .blog_content .blog_title a {
  font-size: 20px;
}

.single_blog.blog_2 .blog_content p {
  margin-top: 15px;
}

